.dotHover{
    margin-left:-20%;
    background: #f2f2f2;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    top:-18px;
    position:absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.dotHover1{
    margin-left:-5%;
    background: #f2f2f2;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    top:-18px;
    position:absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.reason-box:hover .dotHover{
    opacity: 1;
}
.reason-box:hover .dotHover1{
    opacity: 1;
}
hr{
    color: black;
}

#range{
    margin-left: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.font{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:#8c8c8c;
}

.title{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color:#b5b8bc;
}
.edit-pen{
    color:#b5b8bc;
    cursor: pointer;
    font-size: 1.3rem;
    float: right;
    margin-left: 1rem;
}

.dot p{
    margin-top: 0px;
    margin-bottom: 0px;
    top: 50%;
    left: 50%;
}


.ttitle{
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    color:#b5b8bc;
}
.table{
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    color:#b5b8bc;
}
thead tr th{
    color: #595959;
}
.settings-machineAdd-model{
        font-family: 'Roboto', sans-serif;
        font-size:15px;
        font-weight: medium;  
        color:#b5b8bc;
}

.input-box { 
  position: relative; 
}

.input-box .input { 
  display: block; 
  background: #fff; 
}

#count_message{
    font-family: 'Roboto', sans-serif;
    font-size:12px;  
    color:#b5b8bc;
    margin-top: -15px;
    margin-right: 10px;
}

.card-img-top{
    height: 150px;
    transition: transform .2s;
}
.card-img-top:hover{
    transform: scale(1.01);
    
}
#card:hover{
    box-shadow: 2px 2px 8px 2px;
}


.genmtop{
    margin-top: 1rem; 
}
.fontheight{
    height: 3rem;
}
.dividercss{
    display: flex;
    /*text-align: center;*/
    align-items: center;
    height: 2rem;

}
.content-container{
  margin-left: 2rem;
  margin-right: 2rem;
}

.flex-container{
  display: flex;
}
.alignmargin{
  margin-left: 2.8rem;
  margin-bottom: 0;
  padding: 0;
}
.fieldCard{
      border-radius: 10px 10px 10px 10px;
}