	*{
		margin: 0;
		padding: 0;
	}
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background: #fff;

	}
	.main-container{
		width: 35%;
		min-height: 50vh;
	}
	.innner-div{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.img-div{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80%;
		margin: 0px;
	}
	.main-card{
		width: 90%;
		box-shadow: 0px 5px 12px 5px #F8F8F8;
	}
	.box{
		margin: 20px;
	}
	.savebtn{
		width: 20%;
		float: right;
		margin-right: 20px;
		margin-bottom: 20px;
		color: white;
        background: #005abc;
		opacity: 0.8;
	}
	.fieldsetName{
        font-family: 'Roboto', sans-serif;
        font-size:1.2rem;
        font-weight: bold;
        color: #b5b8bc; 
        margin-top: 20px;
        margin-left: 20px;
    }
	.fieldsetName1{
        font-family: 'Roboto', sans-serif;
        font-size:1.3rem;
        color: #b5b8bc; 
        margin-top: 20px;
        margin-left: 20px;
    }