.unit-input { 
  position: absolute; 
  display: block; 
  left: 8px; 
  top: 12px; 
  z-index: 9; 
}
.unit-input i{
  font-size: 17px;
  font-weight: normal;
}
.paddingin{
  padding-left: 1.5rem;
}
.paddingin1{
  padding-left: 7rem;
}
.paddinginright{
  padding-right: 1.5rem;
}

.bodercss{
  border-radius: 15px 15px 15px 15px;
}
.bodercssmodel{
  border-radius: 20px 20px 20px 20px;
}
    .settings_machine_header{
        border-radius:10px 10px 10px 10px;
        color:black;
        border:1px solid rgba(242,242,242);
        box-shadow: 3px 3px 4px 0px #e6e6e6;
        margin-bottom: 0.5rem;

    }
    .settings_machine_header .row div{
        display: flex;
        text-align: center;
        /*justify-content:center;*/
        align-items:center;
        height: 3.5rem;
        padding: 0px;
        
    }

    .settings_machine_header .basic_header{
        margin-bottom: 0;
        padding: 0px; 
        margin-left: 1rem;
    }
    #settings_div{
        /*background-color:rgb(47,85,151);*/
        border-radius:10px 10px 10px 10px;
        color:black;
        margin-top:5px;
        border:1px solid #d9d9d9;

    }
    #settings_div .row .col{
        display: flex;
        height: 3.5rem;
        padding: 0px;
        align-items:center;
        
    }
    #settings_div .row .marleft p{
        text-align: left; 
        margin-left: 1rem;       
    }
    #settings_div .row .marright p{
        text-align: right; 
        margin-right: 1rem;       
    }
    /*#settings_div .row .marcenter{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;      
    }*/
    #settings_div p{
        /*text-align:center;*/
        font-family: 'Roboto', sans-serif;
        font-size:0.75rem;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        margin-bottom: 0px;

    }
    .fasdiv .fas{
        font-size:20px;
        color: #d9d9d9;
    }
    .fasdiv .fas:hover{
        color:#808080;
    }
    .fasdiv{
        margin: auto;
    }
    .settings_active p{
        font-weight: bold;
    }
    .settings-machineAdd-model{
        font-family: 'Roboto', sans-serif;
        font-size:15px;
        font-weight: medium;  
        color:#b5b8bc;
    }
    .fo{
        font-family: 'Roboto', sans-serif;
    }
    .bn{
        font-size:15px;
        padding: 5px 25px;
    }

        .edit-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
    }
    .edit-menu li {
      position: relative;
    }
    .edit-menu li a {
      display: block;
      text-decoration: none;
      position: relative;
      color: #828080;
      font-size: 0.8rem;
      font-weight: 500;

    }
    
    .edit-menu li ul,
    .edit-menu li ul li ul {

          list-style: none;
          position: absolute;
          height: auto;
          padding: 0;
          margin: 0;
          background: #FFF;
          min-width: 200px;
          border-radius: 6px 6px 6px 6px;
          border:1px solid #d9d9d9;
          font-family: 'Roboto', sans-serif;
          font-size: 13px;
          transition: all 300ms linear;
          -o-transition: all 300ms linear;
          -ms-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -webkit-transition: all 300ms linear;
          z-index: 800;
          right:20px;
          top: 0px;
          box-shadow: 3px 3px 4px 0px #d9d9d9;
          color: #9d9d9d;
          display: none;
    }
    .edit-menu li ul li a {
      padding: 8px;
      text-align: left;
      border: 0;
      border-bottom: 1px solid #EEE;
      height: auto;
    }
    .edit-menu li ul li:hover{
      background: #eff7ff;
      color: #9d9d9d;
      /*font-weight: bold;*/
    }
    .edit-menu li ul li:nth-child(1):hover{
      border-radius: 6px 6px 0px 0px;
    }
    .edit-menu li ul li:nth-child(2):hover{
      border-radius: 0px 0px 6px 6px;
    }
    .edit-menu li ul li a i {
      margin-top: 0px;
      font-size: 16px;
      display: inline-block;
      margin: 0 10px 0 0;
    }

.box span input {
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}
.box .input-box {
  position: relative;
}

.box  .input-box label {
    position: absolute;
    top: -8px;
    left: 15px;
    color: #999;
    background-color: white;
    transition: 0.5s;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:#8c8c8c;
    margin-bottom: 0px;
    margin-top: 0px;
}
.box .input-box input:focus~ label
 {
  top: -8px;
  left: 10px;
}
.box .input-box select:focus~ label
 {
  top: -8px;
  left: 10px;
}


    .p{
        font-family: 'Roboto', sans-serif;
        font-size:12px;
        /*font-weight: bold;*/
        color: #bfc2c5; 
        padding: 15px 0px; 
    }
    .p1{
        font-family: 'Roboto', sans-serif;
        font-size:0.8rem;
        font-weight: bold;
        color: #979a9a; 
        opacity: 50%;   
    }
    .p4{
        font-family: 'Roboto', sans-serif;
        font-size:0.8rem;
        font-weight: bold;
        color: #979a9a; 
       /* opacity: 50%;   */
    }

        .p3{
      font-family: 'Roboto', sans-serif;
      font-size:0.8rem;
      /*font-weight: bold;*/
      color: #979a9a; 
      opacity: 50%;   
  }

    .p2{
      font-family: 'Roboto', sans-serif;
      font-size:1.2rem;
      font-weight: bold;
      color: #979a9a;    
     }
    
    .addToolForm label{
        font-family: 'Roboto', sans-serif;
        font-size:12px;
        color:#8c8c8c;
        padding-left: 3px;
        padding-right: 3px;
    }

    /*.contentdiv{
      overflow: auto;
      height: 80vh;
    }*/
.addIcon{
  font-size: 13px;

}


/*General*/
.FMalign{
        align-items:center;
}

.alignCenter{
    display: flex;
    align-items: center;
    text-align: center;
    /*justify-content: center;*/
    margin-bottom: 0px;
    margin-left: 1rem;
}

.dot-margin{
  margin-left: 1rem;
}

    