.marginZero{
	margin: 0px;
}
.charCount{
	font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:#8c8c8c;
}
.validate{
	font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:red;
}
.margLeft{
	margin-top: 5px;
	margin-top: 5px;
}
.colPadding{
	padding-left:10px;
	padding-right: 10px;
}
.slname{
	top: -2px;
}
.alterHeight{
	margin-top: 2rem;
}
