/* graph filter label */
.multi_select_label{
  position:absolute;
  margin-top:-0.5rem;
  margin-left:0.8rem;
  z-index:1;
  /* overflow-y: scroll; */
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background:white;
  font-size:12px;
  color:#8c8c8c;
  font-family:'Roboto' sans-serif;
}
.dropdown-div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-style{
  margin-right: 0.5rem;
}
.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-align_cnt{
    display: flex;
    align-items: center;
  }

.filter_checkboxes {
    display: none;
    border: 1px solid #dadada ;
    max-height: 12rem;
    overflow-y: scroll;
    background-color: white;
  }
  .filter_checkboxes .inbox{
    /*padding: 8px;*/
    background-color: white;
    height: 2.5rem;
  }
  .filter_checkboxes .inbox:hover{
    background-color: #eff7ff;
    cursor: pointer;
  }

.dropdown-arrow{
  display: flex;
  cursor: pointer;
}

.filter_selectBox {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .inbox-span{
    margin-left: 0.5rem;
    font-size: 0.7rem;
    width: 100%;
  }
  .search_style{
  font-weight: 450;
  font-size: 12px;
  color:#8c8c8c;
}
    
    .indexing{
      z-index: 99;
    }
    /*Multiple Drop Down*/
    .filter_multiselect {
        width: 10rem;
        height: 2.3rem;
        border: 1px solid #ced4da;
        border-radius: 0.3rem;
    }
    .filter_option{
      height: 2rem !important;
      position: relative;
      z-index: 1001;
    }

    .filter_check_cate{
    display:flex;
    padding-left:0.1rem;
    padding-right:0.5rem;
    justify-content:center;
    align-items:center;
    min-height:2rem;
    max-height:3rem;
    }
    .cate_drp_check{
    width:20%;
    display:flex;
    justify-content:center;
    }
    .cate_drp_text{
    width:80%;
    }
    .multi_select_drp{
    height:2rem;
    position:relative;
    min-width:9rem;
    font-size:12px;
    font-weight:500;
    color:#8c8c8c;
    border:1px solid #ced4da;
    border-radius:0.25rem;
    padding-left:1rem;
    background-color: white;
    }
    
    .filter_overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    }

    
    /* over all target graph css */
    .target_bar_bottom{
        margin-top:0.6rem;
    }
    .graph_text{
        margin-bottom:auto;
        color:#404040;
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        /* font-weight:400; */
    }
    .empty_graph{
        background-color:#F2F2F2;
        height:3.5rem;
        border-radius:0.2rem;
    }
    .target_graph{
        background-color:#B3D7FF;
        height:3.5rem;
        width:10%; 
        border-radius:0.2rem;
        padding:0.2rem;
        padding-left:0;
        padding-right:0;
    }
    .fill_graph{
        background-color:#0075F6;
        width:80%;
        border-radius:0.2rem;
        height:3rem;
        color:white;
        display:flex;
        align-items:center;
        padding-left:0.3rem;
    }
    .graph_font{
        font-weight:bold;
        font-size:1.4rem;
    }
    .font_multi_drp{
    font-family:'Roboto',sans-serif;
      font-weight:500;
      font-size:12px;
      margin:auto;
      user-select: none; 
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    .reason_fill , .reason_fill2 ,.quality_reason_fill {
        max-height:8rem;
        min-height:4rem;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    
    
    .filter_checkboxes_machine , .filter_checkboxes_machine1 ,.filter_checkboxes_machine2,.filter_checkboxes_machine3,.filter_checkboxes_machine4{
        max-height:8rem;
        min-height:4rem;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    
    .part_fill{
        max-height:8rem;
        min-height:4rem;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    
    /* chartjs div css */
    .parent_div{
        height:11rem;
        overflow-y:hidden;
    }
    .prodcution_downtime_graph{
        margin-bottom:0.6rem;
    }
    .marginScroll{
        margin-left:1rem;
        margin-right:1rem;
    }
    .child_div{
        height:100%;
        padding:0.5rem;    
    }
    
    /* moddule first row div  style */
    .first_row{
        display:flex;
        flex-direction:row;
        margin-top:4.2rem;
        padding:0.3rem;
        padding-bottom:0;
        justify-content:space-evenly;
    }
    .overall_div{
        width:30%;
        height:19.4rem;
        border:1px solid #e6e6e6;
        padding-bottom:1rem;
        border-radius:0.5rem;
        padding-left:1rem;
        padding-right:0.5rem;
    }
    .oee_trend_div{
        width:69%;
        height:19.4rem;
        border:1px solid #e6e6e6;
        border-radius:0.5rem;
        padding-left:1rem;
    }
    .second_row{
        display:flex;
        flex-direction:row;
        margin-top:0.3rem;
        justify-content:space-evenly;
    }
    .graph_filter_div{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    /* machine wise oee% */
    .icons_bottom{
        display:flex;
        flex-direction:row-reverse;
    }
    .align_icons{
        width:15%;
        display:flex;
        flex-direction:row;
    }
    .align_machine_icons{
        width:20%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .graph_label_font{
        font-size:12px;
        font-weight:450;
        color:#404040;
    }
    
    .quality_circle{
        background-color:#09BB9F;
        height:0.5rem;
        width:0.5rem;
        border-radius:50%;
    }
    .performance_star{
        color:#0075F6;
        font-size:10px;
    }
    .availability_triangle{
        width:0;
        height:0;
        border-left:5px solid transparent;
        border-right:5px solid transparent;
        border-bottom:10px solid #000000;
    }
    .oee_square{
        background-color:#0075F6;
        height:0.6rem;
        width:0.6rem;
    }
    .each_row_split{
        width:49.2%;
        border-radius:0.5rem;
        border:1px solid #e6e6e6;
        height:19rem;
    }
    .graph_title_oee{
        margin-bottom:auto;
        color:#404040;
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        /* font-weight:450; */
    }
    .title_div{
       
        display:flex;
        flex-direction:column;
        margin-top:1rem;
        margin-left:1.3rem;
        margin-bottom:0.6rem;
    }
    .overall_label_flex{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        height:1.5rem;
    }
    .overall_div_label{
        width:max-content;
        display:flex;
        flex-direction:row;
        align-items:center;
        margin-right:1rem;
    }
    .actual_label_color{
        height:0.7rem;
        width:0.7rem;
        background-color:#0075F6;
    }
    .auctal_label_text{
        margin-left:0.6rem;
        font-size:12px;
        color:#404040;
    }
    .target_label_color{
        height:0.7rem;
        width:0.7rem;
        background-color:#B3D7FF;
    }
    .oee_trend_drp_div{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    .machine_wise_availability_div{
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    .header_text_val{
        font-size:11px;
        color:#A6A6A6;
        margin-bottom:0;
    }
    .header_value_pass{
        color:#005abc;
        font-size:1rem;
        font-weight:800;
    }
    .availability_drp_div{
        width:87.5%;
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
    }
    .performance_drp_div{
        width:80%;
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
    }
    .quality_drp_div{
        width:80%;
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
    }


    /* Target graph hovering */
    .target_hover_div{
        position:absolute;
        margin-left:1rem;
        margin-top:0.5rem;
        padding:0.5rem;
        background-color:white;
        max-width:15%;
        min-width:11.7%;
        font-size:0.8rem;
        font-family:'Roboto' sans-serif;
        font-weight:500;
        color:#979a9a;
        border:0.5px solid #d9d9d9;
        opacity:100%;
        border-radius:5px 5px 5px 5px;
        display:none;
    }
    .hover_flex{
        display:flex;
        flex-direction:row;
    }
    .hover_text_div{
        width:50%;
        display:flex;
        flex-direction:row;
    }
    .hover_text_color_div{
        width:max-content;
        display:flex;
        align-items:center;
        text-align:center;
        justify-content:center;
        margin-right:0.5rem;
    }
    .target_color_div{
        height:10px;
        width:10px;
        background-color:rgb(179,215,255);
    }
    .val_color_div{
        height:10px;
        width:10px;
        background-color:#0075F6;
    }
    
    .teep_graph_hover:hover + .target_hover_div{
        display:block;
    }
    .ooe_graph_hover:hover + .target_hover_div{
        display:block;
    }
    .oee_graph_hover:hover + .target_hover_div{
        display:block;
    }


.non_select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.select_pointer{
    cursor: pointer;
}
    