.prev, .next {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  width: auto;
  padding: 10px;
  font-weight: bold;
  top: 50%;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: yellow;
  margin-top: -22px;
  color: rgba(0,0,0,0.8);
}
.slideControl{
    display: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,0.8);
}


.label_mar{
    margin-top:-8px;
    margin-left:16px;
    background-color:#d10527;
    width:max-content;
    color:#030000;
    font-weight:700;
    font-size:11px;
}
.icon_img_wh {
    width: 1.2rem;
    height: 1.2rem;
}
.full_screen_close{
    width: 100%;
    display: none;
    flex-direction: row-reverse;
}
.part_wise_alignment{
 margin-bottom:0.6rem;
}
.parent_div{
    height:10rem;
    overflow-y:hidden;
}

.marginScroll{
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.child_div{
    height:100%;
    padding:0.5rem;    
}
.child_part_oui{
    width:100%;
}
#downtime_chart{
    margin-left:1rem;
}

/* css for flex based work */
.timeline_part{
    width:48%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.timeline_div{
    width:100%;
    /* border:1px solid #730316; */
    border-radius:0.5rem;
    height:9.8rem;
    margin-bottom:10px;
}

.label_header{
    margin-top:-8px;
    margin-left:1rem;
    width:max-content;
    /* background-color:#d10527; */
    font-size:12px;
    font-weight:700;
}
.legend_label{
    width:16%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.label_div{
    height:0.8rem;
    width:0.8rem;
    
}
.label_text{
    width:80%;
    color:white;
    font-size:12px;
    font-weight:450;
}
.downtime_legend{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    margin-left:1rem;
}
.part_div{
    width:100%;
    /* border:1px solid #730316; */
    border-radius:0.5rem;
    height:12rem;
    margin-bottom:10px;
}


/* circle graph */
:root {
    --foo_oui: 471;
  }
.item-circle_oui{
	height: 93%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-circle_oui{
	height: 8rem;
	width: 8rem;
	border: 2px solid #bfbfbf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: transparent;
    /* color:white; */
}


.inner-val_oui{
	margin-top: 0.5rem;
}


.production_completion_oui{
	font-family: 'Roboto',sans-serif;
	color: black;
	text-align: center;
    font-weight: 800;
    font-size: 1.6rem;
}

.production_completion span{
	font-size: 35px;
    /* font-weight: 800; */
}


.partname_ref_oui{
	font-size: 12px;

}

.svg_oui{
    position: absolute;
    display: block;
    margin: auto;
    height: 15rem;
    width: 15rem;
    /* height: 17rem;
    width: 12rem; */
}

.circle_oui_anim{
    fill: none;
    stroke: url(#GradientColor_oui);
    stroke-width: 1.3rem;
    /*stroke-width: var(--fo);*/
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim12 2s linear forwards;
    transform-origin: center;
    transform: rotate(-90deg);
}
@keyframes anim12{
    100%{
        stroke-dashoffset: var(--foo_oui);
    }
}

.goals_div{
    /* border:1px solid #730316; */
    width:100%;
    height:22.6rem;
    border-radius:0.5rem;
    margin-bottom:10px;
}

#target_value{
    font-size:1.2rem;
    font-weight:700;
}

.efficiency_div{
    width:100%;
    /* border:1px solid #730316; */
    border-radius:0.5rem;
    height:6.8rem;
    margin-bottom:10px;
}

/* cards div */
.cards_div{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.cards_div_left{
    width:48%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.card_small_div{
    width:32%;
    height:max-content;
    /* background-color:#BB0523; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}
.card_header{
    /* background-color:#730316; */
    width:100%;
    padding:0.4rem;
    text-align:center;
    font-size:13px;
}

.card_body{
    padding:0.3rem;
    font-size:1.3rem;
    font-weight:850;
}

.hide_card{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    margin-right:1rem;
}

.hide_card_div{
    width:20%;
    height:max-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}
.hide_card_header{
    width:100%;
    padding:0.4rem;
    text-align:center;
    font-size:13px
}

.hide_card_body{
    padding:0.3rem;
    font-size:0.8rem;
    font-weight:450;
}

/* downtime  tooltip css */

.Tooltip_Container{
    height:max-content;
    width: max-content;
    padding: 0.5rem;
    z-index: 3000;

}


.nameHeader{
    color: #595959;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}
.contentName{
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
.durationVal{
    color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
.leftAllign{
    margin-left: 0.5rem;
}
.shift_oee_div{
    width:30%;
    height:max-content;
    /* background-color:#BB0523; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}
.shift_oee_header{
    /* background-color:#730316; */
    width:100%;
    padding:0.4rem;
    text-align:center;
    font-size:13px;
}
.shift_oee_body{
    padding:0.3rem;
    font-size:0.8rem;
    font-weight:450;
}
.value_text{
    font-size:1.3rem;
    font-weight: 800;

}

/* goal header div */
.oui_screen_view{
    height: 100vh;
}
.goal_div{
    width:48%;
    display:flex;
    flex-direction:column;
}
.first_row_div{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin-top:2rem;
}
.oui_header_div{
    /* background-color:#d10527; */
    margin-top:4.2rem;
    /* height: 100vh; */
}
.oui_sub_header{
    display:flex;
    flex-direction:row;
    height:4rem;
    /* background-color:rgba(190,5,35,255); */
}
.sub_header_first_row{
    width:33%;
    display:flex;
    flex-direction:column;
    justify-content:end;
    color:white;
    font-family:'Roboto', sans-serif;
    margin-left:1rem;
}
.first_row_header{
    font-size:1.6rem;
    font-weight:400;
}
.first_row_body{
    font-weight:700;
}
.sub_header_second_row{
    width:33%;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
}
.downtime_second_val{
    font-size:1.6rem;
    font-weight:600;
}
.sub_header_third_row{
    width:33%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:end;
    color:white;
    font-weight:600;
    font-size:1rem;
    margin-right:1rem;
}
.goal_height_div{
    display:flex;
    flex-direction:row;
    height:82%;
    justify-content:space-around;
}
.target_graph_div{
    display:flex;
    flex-direction:column;
    height:93%;
}
.target_graph_parent_div{
    height:100%;
    width:6.5rem;
    /* background-color:#730316; */
    padding-left:1rem;
    padding-right:1rem;
    display:flex;
    justify-content:center;
    align-items:end;
}

.target_graph_child_div{
    height:40%;
    width:4rem;
    background-color:#C55A11;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}
#target_value_inner{
    color:white;
    font-size:1.6rem;
    font-weight:750;
    text-align:center;
}

.goals_div_text{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-left:1rem;
}
.circle_graph_text{
    width:25%;
    display:flex;
    flex-direction:row;
    justify-content:end;
    align-items:center;
    font-size:1rem;
    font-weight:800;
    color:white;
}
.target_graph_text{
    width:50%;
    display:flex;
    margin-left:1rem;
    justify-content:flex-end;
    font-size:1rem;
    align-items:center;
    color:white;
    font-weight:800;
}
.header_text_nav{
    display: flex;
    max-width: max-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

