/*GLOBAL FOR SOFTWARE*/
p{
	font-family: var(--font_family) !important;
}
span{
	font-family: var(--font_family) !important;
}
label{
    font-family: var(--font_family) !important;   
}
.fnt_fam{
	font-family: var(--font_family) !important;
}
.fnt_active{
	color: var(--active_count_color) !important;
}
.fnt_inactive{
	color: var(--inactive_count_color) !important;
}

.float_l{
    float: left;
}
.display_b{
    display: block;
}
.display_f{
	display: flex;
}
.flex_f{
    flex-flow: column;
}
.white_s{
    white-space: nowrap;
}
.over_h{
    overflow: hidden;
}
.text_e{
    text-overflow: ellipsis;
}
.align_c{
	align-items: center !important;
}
.justify_c{
	justify-content: center !important;
}
.justify_l{
	justify-content: left !important;
}
.justify_e{
    justify-content: end;
}
.justify_sb{
	justify-content: space-between !important;
}
.justify_sa{
    justify-content: space-around !important;
}
.text_align_c{
	text-align: center;
}
.h_mar_l{
	margin-left: 1rem !important;
}
.h_mar_r{
	margin-right: 1rem !important;
}
.paddingm{
	padding: 0;
	margin: 0;
}
.cursor{
	cursor: pointer !important;
}
.fnt_bold{
	font-weight: bold !important;
}
.none_dec{
	text-decoration: none !important;
}
.mar_right_logo{
	margin-right: var(--mr_left_inr) !important;
}
.inr_font{
    font-size: var(--font_size_inr);
}
.active_dot{
	font-size:9px;
	margin-right:5px;
	margin-top:5px;
}
.font_weight_modal {
    font-weight: 550 !important;
}
.mr_login{
    margin: 20px;
}
.po_relative{
    position: relative;
}
.po_fixed{
    position: fixed;
}
.po_absolute{
    position: absolute;
}
.hover_elem_height{
    height: 2rem;
}
.bg_white{
    background:white;
}

.icons-smart {
    height: 1rem !important;
    width: 1rem !important;
}
.border_no{
    border: none;
}

.mr_right_ele{
    margin-right: 0.5rem;
}

/* LOGO START*/
#smartlogo{
    width: 9rem;
}
/* LOGO END */

/* SIDE NAV BAR START */
.icons-side-nav{
    height: 2.7rem;
    width: 2.7rem;
}
.nav-icon {
    color: #005abc;
    padding: 9px;
    border-radius: 5px 5px 5px 5px;
}

.nav-icon:hover{
  padding: 9px;
  background: #eff7ff;
}
/* SIDE NAV BAR END */

/* USER PROFILE START */

.user_profile_ele{
    height:38px;
    width:38px;
    border-radius:50%;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* USER PROFILE END */

/*INPUT LABLES*/

/*INPUT LABLES END*/

/*BUTTONS*/
.btn_fnt_size{
	font-size: 15px !important;
}
.btn_padd{
	padding:5px 25px !important;
}
.btn_save{
	color: var(--font_color_save_pop_up) !important;
	background: var(--bg_color_save_pop_up) !important;
}
.btn_save:hover{
	color: var(--font_color_save_hover_pop_up) !important;
	background: var(--bg_color_save_hover_pop_up) !important;
	/*opacity: 0.8;*/
}
.btn_cancel{
	color: var(--font_color_cancel_pop_up) !important;
	background: var(--bg_color_cancel_pop_up) !important;
}
.btn_cancel:hover{
	color: var(--font_color_cancel_hover_pop_up) !important;
	background: var(--bg_color_cancel_hover_pop_up) !important;
	/*opacity: 0.8;*/
}


/*EVENT BACKGROUND*/
.active_bg{
    background: var(--active_color) !important;
}
.inactive_bg{
    background: var(--inactive_color) !important;
}
.machine_off_bg{
    background: var(--machine_off_color) !important;
}
.offline_bg{
    background: var(--offline-color) !important;
}

/*GLOBAL FOR SOFTWARE END*/

/*GLOBAL CLASS FOR LABELS*/
.style_label{
    border-radius: var(--border_radius_label)!important;
    border:var(--border_size_label) solid var(--border_color_label)!important;
    font-size: var(--font_size_label) !important;
    font-weight: bold;
    margin: 0px;
    padding: var(--padding_label)!important;
    margin-right: var(--margin_right) !important;
}
.style_label span{
  	font-size: 1.5rem;
  	margin-right:0.5rem !important;
}
/*GLOBAL CLASS FOR LABELS END*/


/*GLOBAL CLASS FOR MODULE HEADER*/
.mdl_header{
	font-size: var(--font_size_module_header)!important;
    font-weight: var(--font_weight_module_header)!important;
    color: var(--font_color_module_header)!important;
    margin-bottom: 0px;
    margin-left: var(--font_mr_left_module_header)!important;
    opacity: var(--opacity_module_header)!important;
}
/*GLOBAL CLASS FOR MODULE HEADER END*/


/*GLOBAL CLASS FOR DATA SECTION START*/
.data_section{
	margin-left: 0.5rem !important;
	margin-bottom: 0.5rem !important;
    margin-right: 0.5rem !important;
}
/*GLOBAL CLASS FOR DATA SECTION END*/


/*GLOBAL CLASS FOR TABLE HEADER START*/
.table_header{
	white-space: nowrap;
    background: #fff;
    overflow: hidden;
    margin-bottom: 0.5rem !important;
	border-radius: var(--border_radius_table_header) !important;
    border: var(--border_table_header) !important;
    box-shadow: var(--box_shadow_table_header) !important;
    top: var(--top_table_header) !important;
    z-index: var(--index_table_header) !important;
}
.table_header_p{
	position: sticky !important;
}
.table_header_sec{
    height: var(--height_table_header) !important;
    padding: 0px;
}
/*GLOBAL CLASS FOR TABLE HEADER END*/ 


/*GLOBAL CLASS FOR TABLE TABLE DATA*/ 
.tableDataContainer{
	margin-top: 0.9rem;
}

.table_data{
	border-radius: var(--border_radius_table_data) !important;
	margin-top: var(--mr_top_table_data) !important;
	border: var(--border_table_data) !important;
}
.table_data_section{
	height: var(--height_table_data) !important;
}

.table_data_element{
	font-size: var(--font_size_table_data) !important;
/*	width: var(--width_table_data) !important;*/
	margin-bottom: var(--mr_botm_table_data) !important;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.charCount{
    font-size:12px;
    color:#8c8c8c;
}
.validate{
    font-size:12px;
    color:red;
}
/*GLOBAL CLASS FOR TABLE TABLE DATA END*/ 

/*GLOBAL CLASS FOR ADD BUTTON*/
.add_btn{
	border-radius: var(--border_radius_add_btn) !important;
    margin-bottom: var(--mar_btom_add_btn) !important;
    margin-right: var(--mar_right_add_btn) !important;
    padding: var(--padding_add_btn) !important;
    font-size: var(--font_size_add_btn) !important;
    color: var(--btn_save_color) !important;
    background: var(--btn_save_color_bg) !important;
}
/*GLOBAL CLASS FOR ADD BUTTON END*/

/*GLOBAL CLASS FOR POPUP MODEL*/
.header_popup{
	font-weight: var(--font_weight_header_pop_up) !important;
	font-size: var(--font_size_header_pop_up) !important;
	color: var(--font_color_header_pop_up) !important;
}
/*GLOBAL CLASS FOR POPUP MODEL END*/

/*GLOBAL CLASS FOR INPUT LABLE*/
.input_lable{
	position: var(--position_input_lable) !important;
    top: var(--top_input_lable) !important;
    left: var(--left_input_lable) !important; 
    color: var(--color_input_lable) !important;
    background-color: var(--bg_color_input_lable) !important;
    transition: var(--transition_input_lable) !important;
    pointer-events: none;
    font-size: var(--font_size_input_lable) !important;
    margin-bottom: var(--mr_botm_input_lable) !important;
    margin-top: var(--mr_top_input_lable) !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.headTitle {
    font-size: 12px !important;
    color: #8c8c8c !important;
}

.validate{
	font-size: 12px !important;
	color: red !important;
}
.fieldStyleSub{
    margin-left: 1rem;
    margin-top: 1rem;
}
/*GLOBAL CLASS FOR INPUT LABLE END*/


/*GLOBAL CLASS FOR GRAPH SECTIONS*/
.graph_lable_header{
    font-weight: var(--font_weight_graph_lable) !important;
    color: var(--font_color_graph_lable) !important;
    font-size: var(--font_size_graph_lable) !important;
    opacity: var(--opacity_graph_lable) !important;
    margin-left: var(--mr_left_graph_lable) !important;
    margin-top: var(--mr_top_graph_lable) !important;
}
.graph_lable_header_top{
	margin-top: 0.8rem !important;
}

.valueGraph {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #004b9b !important;
}

.valueMarLeft{
	margin-left: 5px !important;
}

.divMarLeft{
	margin-left: 1rem !important;
}

.graph_lable {
    margin-left: 2rem !important;
    margin-top: 0.9rem !important;
    margin-bottom: 0.6rem !important;
}

.divSpace {
    margin-right: 1.5rem !important;
    height: 2rem !important;
}
/*GLOBAL CLASS FOR GRAPH SECTIONS END*/


/*GLOBAL CLASS FOR CURRENT SHIFT PERFORMANCE */
.graph-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
/*GLOBAL CLASS FOR CURRENT SHIFT PERFORMANCE END*/

/*GLOBAL CLASS FOR SELECT INPUT*/
.select_input_width{
    width: var(--input_select_width) !important;
    height: var(--input_select_height) !important;
}
.input_padd{
    padding-left: 0.7rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /*padding: var(--inpust_select_padding) !important;*/
}
/*GLOBAL CLASS FOR SELECT INPUT END*/

/*PDM - DOWNTIME*/
.labelGraph {
    height: 10px !important;
    width: 10px !important;
    margin-right: 0.5rem !important;
}


/*GLOBAL CLASS FOR WORK ORDER MANAGEMENT*/
.open_color{
    color: var(--wom_color_open);
}
.overdue_color{
    color: var(--wom_color_overdue);
}
.in_progress_color{
    color: var(--wom_color_in_progress);
}

/*GLOBAL CLASS FOR WORK ORDER MANAGEMENT END*/

/*GLOBAL CLASS FOR HOVERING DESIGN*/
.hover_area{
    position: absolute;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0.5px solid #f2f2f2;
    z-index: 105;
    padding: 0.5rem;
    /*margin-top: 0.2rem;*/
    opacity: 100%;
}
.hover_header_area{
    width: 10rem;
}
.hover_header_val_area{
    width: max-content;
}
.hover_header_light{
    color: #a6a6a6;
    font-size: 14px;
    margin-top: 0.3rem;
    letter-spacing: 0.05rem;
}
.hover_val{
    color: #595959;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 0.3rem;
}
/*GLOBAL CLASS FOR HOVERING DESIGN END*/


/*GLOBAL CLASS FOR INPUT FIELDS*/
.unit-input { 
    position: absolute; 
    display: block; 
    left: 8px !important; 
    top: 9px !important; 
    z-index: 9; 
}
.unit-input .clip{
    font-size: 1rem !important;
}

.unit { 
  position: absolute; 
  display: block; 
  right: 5px !important; 
  top: 9px !important; 
  z-index: 9; 
}
.clip{
    color: var(--font_color_header_pop_up);
    font-size: 1rem !important;
}
/*GLOBAL CLASS FOR INPUT FIELDS END*/



/* ALL OUTPUT MODULE`S HEADER FILTER BUTTTON CSS */

.overall_filter_header_css{
    border:1px solid transparent;
    background-color: var(--btn_save_color_bg) !important;
    font-size: var(--left_input_lable) !important;
    padding: var(--overall_filter_header_btn_pd) !important;
    border-radius: var(--overall_filter_header_btn_br) !important;
    color:var(--font_color_save_hover_pop_up) !important;
    font-weight: var(--overall_fitler_header_btn_fw);
}

.overall_filter_header_css:hover{
    background-color: var(--save_btn_hover_background_color);
    color:var(--save_btn_font_color);
    opacity: 0.8;
}
.mar_r_box{
    margin-right:var(--mar_right_add_btn);
    display:var(--overall_filter_header_div_f);
    flex-direction:var(--overall_filter_header_div_fr);
    justify-content:var(--overall_filter_header_div_jc);
    align-items:var(--overall_filter_header_div_ac);
}

/* ALL OUTPUT MODULE`S HEADER FILTER BUTTON CSS */

.icons_style{
    width: var(--icon_width) !important;
    height: var(--icon_height) !important;
    padding-right: var(--icon_padding_right) !important;
    color: var(--icon_color) !important;
}
.editOpt{
    color: #595959;
    font-size: 12px;
}

/* ALL CONFIRMATION BOX CSS */
.conf_message{
    color: black;
    font-size: 0.9rem;
}

/* GENERAL SETTINGS */
.fieldTitle{
    top: -10px;
    left: 20px;
    background: white;
    font-size:13px;
    color:#595959;
}
.input-padding{
  padding-left: 3px;
  padding-right: 3px;
}


/* no recordsa found css design */

.no_record_css{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 1.4rem;
    font-size: 1rem;
    font-weight: 550;
    font-family: 'Roboto' sans-serif;
    color: #a6a6a6;
}

/************* TABLE HEADER ************/
.p3 {
    font-size: 0.8rem;
    color: #979a9a;
    opacity: 50%;
}
.settings-machineAdd-model{
    font-size:15px;
    font-weight: medium;  
    color: var(--font_color_header_pop_up);
}

/* no records found css design */

/* alert management jira bugs as per the instruction madhan sir  */
/* default font size for all module inputs getting */
.default_font_size{
    font-size: var(--default_font_size) !important;
}
/* deafult dropdown height */
.default_input_height{
    height: var(--default_input_height)!important;
}